<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/style.css" />
	<title>{{ .Title }}</title>
</head>
<body>
	<h1>{{ .Title }}</h1>
	{{ range $key, $content := .Files }}
	<h2>{{ $content.LogType }}</h2>
	<table>
		<thead>
			<tr>
				<th>DateTime</th>
				<th>Name</th>
				<th>Size</th>
				<th>LogType</th>
				<th>Peek</th>
			</tr>
		</thead>
		<tbody>
			{{ range $content.Content }}
			<tr>
				<td>{{ .ModifiedAtString }}</td>
				<td>
					<a href="/view?type={{ .LogType }}&file={{ .Path }}&prev={{ .PrevPath }}">{{ .Path }}</a> (<a href="/raw?file={{ .Path }}">Raw</a>)
				</td>
				<td>{{ .SizeHuman }}</td>
				<td>{{ .LogType }}</td>
				<td><code>{{ .PeekString }}</code></td>
			</tr>
			{{ end }}
	</table>
	{{ end }}
</body>
</html>
