<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/style.css" />
	<script src="/public/table.js"></script>
	<title>Akari | {{ .Title }}</title>
</head>
<body>
	<h2>{{ .Title }}</h2>
  <div class="view-file">
    <table>
      <thead>
        <tr>
          {{ range .TableData.Headers }}
          <th style="{{ call $.toStyle .Style }}" {{ call $.toAttrs .Attributes }}>{{ .Text }}</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range .TableData.Rows }}
        <tr id="{{ .Key }}">
          {{ range .Cells }}
          <td style="{{ call $.toStyle .Style }}" {{ call $.toAttrs .Attributes }}>{{ .Text }}</td>
          {{ end }}
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</body>
</html>
